.line path {
  fill: none;
  stroke-width: 3px;
  stroke: grey;
}

.recharts-cartesian-axis {
  font: 10px sans-serif;
}

.recharts-cartesian-axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.recharts-label {
  font-size: 20px;
}